.page {
  display: flex !important;
  opacity: 1 !important;
}

.modal {
  text-align: center;
  flex: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  a {
     color: inherit;
     }
}

.modal__content .button--stream {
    border-color: atl-color('blue');
}

.modal__content {
  width: 100%;
  max-width: 450px;
}

.modal__close-button {
  position: fixed;
  box-shadow: none;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
}
