html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page,
.page-modal {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: atl-spacing('small');
}

.primary-header,
.primary-footer {
  flex: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
