$red: #ff0000;
$black: #000000;
$white: #FFFFFF;
$purple: #673366;
$blue: #9CCCCD;
$lilac: #8C4160;
$brown: #211F15;
$gold: #B9AE76;
$pink: #FF66A4;

$primary: $black;
$secondary: $red;

// Bootstrap theme colors
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'black': $black,
  'white': $white,
  'red': $red,
  'purple': $purple,
  'blue': $blue,
  'lilac': $lilac,
  'brown': $brown,
  'gold': $gold,
  'pink': $pink
);

$body-color: $black;
$body-bg: $white;
$link-color: $white;
$input-placeholder-color: $black;
$link-decoration: underline;

// Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Font families
$font-family-sans-serif: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

// Font sizes
$font-size-base: (16 / 16) * 1rem;
$line-height-base: 1.4;
$font-size-lg: (18 / 16) * 1rem;
$font-size-xl: (25 / 16) * 1rem;
$font-size-sm: (14 / 16) * 1rem;
$font-size-mc: (10 / 16) * 1rem;
$h1-font-size: (110 / 16) * 1rem;
$h2-font-size: (48 / 16) * 1rem;
$h3-font-size: (27 / 16) * 1rem;
$h4-font-size: (22 / 16) * 1rem;
$btn-font-size: $font-size-base;
$small-font-size: $font-size-sm;

// Font weights
$font-weight-base: 400;
$headings-font-weight: 700;


// Buttons
$btn-border-radius: 0;
$btn-font-family: $headings-font-family;
$btn-font-weight: $headings-font-weight;
$btn-font-size: $h3-font-size;
$input-btn-padding-x: 2.5rem;

// Icon settings
$icon-common-class: 'atl-icon';
$icon-prefix: 'atl-icon--';
