.btn {
  font-size: $btn-font-size;
  //box-shadow: 0 3px 6px rgba($black, 0.16);
  //min-width: (130 / 16) * 1rem;
  text-decoration: none;
}

.btn-link {
  padding: 0;
  border: 0;
  min-width: 0;
}

.micro {
  font-size: $font-size-mc;
}
