// 3157.34 4850.22

body {
  margin: 0;
}

img {
  max-width: 100%;
}

#app {
  overflow-x: hidden;
}
.aspect-ratio-box {
  padding-top: calc(4850 / 3157 * 100%);
  width: 100%;
  @media (max-width: 813px) {
    //padding-top: calc(9650 / 2757 * 100%);
    padding-top: calc(7550 / 2757 * 100%);
  }
}
.page {
  //width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: hidden;
  background: linear-gradient(to bottom, theme-color('purple') 0%, theme-color('blue') 100%) repeat-x;
  //@include gradient-y(theme-color('purple'), theme-color('blue'));
  @media (min-width: 813px) {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
  }
  .clouds {
    position: absolute;
    top: 20vh;
    left: 0;
  }
  .ufo {
    position: absolute;
    top: 18vh;
    left: 0vw;
    width: 50vw;
    animation: ufo-hover 3s ease infinite;
  }
}

@keyframes ufo-hover {
  0% {
    top: 18vh;
  }
  50% {
    top: 20vh;
  }
  100% {
    top: 18vh;
  }
}
.parallax {
  width: 100vw;
  //height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  .img-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
  }
  img {
    max-width: 100%;
  }
}

.house-page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  img {
    max-width: 100%;
    display: block;
  }
  .fg {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @media (max-width: 813px) {
    top: 65%;
    .fg-wrapper {
      overflow-x: hidden;
    }
    .fg-container {
      left: 50%;
      transform: translateX(-31%);
      transform: translateX(-20%);
      width: 250%;
      width: 150%;
    }
  }
}

.room {
  //opacity: 0.5;
  rect {
    fill: black;
    opacity: 0.4;
  }
  &.room--locked:hover {
    cursor: default;
  }
  &:hover:not(.room--locked) {
    //opacity: 1;
    rect {
      opacity: 0;
    }
  }
  @media (max-width: 813px) {
    rect {
      opacity: 0;
    }
  }
}

.room--garage {
  overflow: hidden;
  .garage-door {
    top: -20%;
  }
}

svg text {
  font-family: "atl-iconfont";
  fill: none;
  stroke: black;
  stroke-width: 3px;
  font-size: 70px;
}

.social-icon, .link-icon {
  .icon-default {
    display: block;
  }
  .icon-hover {
    display: none;
  }
  &:hover {
    .icon-default {
      display: none;
    }
    .icon-hover {
      display: block;
    }
  }
}

.socials-group {
  //display: none;
  opacity: 0;
  pointer-events: all;
  fill: transparent;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translate(100%, 65px);
  &:hover {
    display: block;
  }
}

.hover-block {
  pointer-events: all;
  display: none;
  fill: transparent;
  @media (min-width: 813px) {
    &:hover ~ .socials-group {
      display: block;
    }
  }
}

.social-container {
  fill: transparent;
  pointer-events: all;
  overflow: hidden;
}

@media (min-width: 813px) {
  .social-container:hover {
    .hover-block {
      display: block;
    }
    .socials-group {
      //display: block;
      opacity: 1;
      transform: translate(75px, 65px);
    }
  }
}

.socials-menu-mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  background: rgba(255,255,255, 0.3);
  backdrop-filter: blur(6px);
  //display: none;
  display: flex;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .inner {
    width: 95vw;
    height: 80vh;
    background: rgba(theme-color('lilac'), 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    flex-direction: column;
  }
  .socials-container {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      margin-bottom: 2vh;
      max-width: 84px;
      width: 12vh;
    }
  }
  @media (min-width: 813px) {
    align-items: flex-end;
    &.active {
      display: none;
    }
  }
}

.socials-menu-mobile__close-btn {
  i {
    color: white;
  }
}

.primary-footer {
  background: theme-color('brown');
  color: white;
  width: 100vw !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 813px) {
    display: none;
  }
}

.mlist--single-field-form {
  .mlist-field.mlist-field--email {
    input:not([type="checkbox"]), select {
      background: transparent;
      border-bottom: 2px solid white;
      color: white;
      text-align: center;
      text-transform: none;
    }
  }
  .mlist-primary-submit .btn {
    color: theme-color('gold');
    text-transform: uppercase;
  }
}

.desktop-signup {
  position: absolute;
  left: 31%;
  bottom: 20%;
  width: 300px;
  height: 120px;
  visibility: hidden;
  opacity: 0;
  padding-left: 30px;
  transition: opacity 0.3s ease;
  display: none;
  .mlist--single-field-form {
    .mlist-field.mlist-field--email {
      input:not([type="checkbox"]), select {
        background: transparent;
        border-bottom: 2px solid black;
        color: black;
      }
    }
    .mlist-primary-submit .btn {
      color: theme-color('pink');
      text-transform: uppercase;
      font-size: 1em;
    }
    .btn-link {
      color: black;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
  @media (min-width: 813px) {
    display: block;
    &.active, &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.desktop-signup-btn {
  width: 30px;
  height: 60px;
  background: none;
  position: absolute;
  left: 29.5%;
  bottom: 23%;
  //border: 1px solid red;
  border: none;
  display: block;
  &:hover ~ .desktop-signup {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.arrow_box {
  position: relative;
  background: #FFFF;
  border-radius: 10px;
  padding: 1em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.arrow_box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #FFFF;
  border-width: 30px;
  margin-top: -30px;
}
