.contest-form {
  .mlist {
    margin: atl-spacing('large') auto;
  }

  .mlist__signup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mlist-field {
    width: 48%;
    margin-bottom: atl-spacing('medium');
    label {
      display: none;
    }

    input {
      width: 100%;
      display: block;
    }

    input:not([type="checkbox"]), select {
      background-color: atl-color('white');
      color: atl-color('secondary');
      border: none;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 atl-spacing('medium');
      appearance: none;
      border-radius: 0;
      width: 100%;
    }

    select {
      // background-image: url('../../../../images/dropdown.svg');
      background-position: right 8px center;
      background-repeat: no-repeat;
    }

    &.mlist-field--first-name,
    &.mlist-field--email,
    &.mlist-field--birthdate,
    &.mlist-field--terms-agree {
      width: 100%;
    }

    &.mlist-field--birthdate {
      .select-wrapper {
        width: 48%;
      }

      .container {
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
    }

    &.mlist-field--terms-agree .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 atl-spacing('small');

      .mlist-checkbox {
        width: 30px;
        padding-top: atl-spacing('xsmall');
      }

      .terms-content {
        flex: 1;
        a {
          color: inherit;
        }
      }

      .messages {
        width: 100%;
      }
    }

    .messages {
      padding: atl-spacing('small');
      color: red;
    }
  }

  .mlist-primary-submit {
    width: 100%;
  }

  .mlist__thank-you {
    font-size: 1.5rem;
  }

  ::placeholder {
    color: atl-color('secondary');
  }

}
